::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* typography */
p {
    margin-top: 0;
}

p + p {
    margin-top: 1em;
}

p:last-child {
    margin-bottom: 0;
}
/* typography end */

body {
	font-family: Tahoma;
}
.container-fullwidth {
	margin: 0 auto;
  	width: 100%;
}
.page-body {
	margin-left: 0;
	margin-right: 0;
}
.page-header {
	margin: 0;
	padding: 20px;
	text-shadow: 0 1px 1px #FFF;
	background-color: #aadbe7;
	border-color: #7eacb1;
}

/* logo */
.app-logo {
	display: inline-block;
}
.app-name {
	display: block;
	font-size: 32px;
	color: #000;
	text-decoration: none;
}
.app-name:hover {
	color: #000;
	text-decoration: none;
}
.app-version {
	font-size: 12px;
}
/* logo end */

/* div table */
.layout-table {
	display: table;
}
.layout-table .layout-row {
	display: table-row;
}
.layout-table .layout-cell {
	display: table-cell;
}
/* div table end */

/* user panel */
.user-panel-label,
.user-panel-value {
	padding-right: 1em;
}
.user-panel {
	margin-top: 10px;
	margin-bottom: 10px;
}
.user-panel .layout-table {
	margin: 0 0 0 auto;
}
@media (max-width: 767px) {
	.user-panel {
		margin-top: 20px;
	}
	.user-panel .layout-table {
		margin: 0;
	}
}
/* user panel end */

/* main menu */
.main-nav {
	margin-left: -15px;
	margin-right: -15px;
}
.main-nav:after {
	content: '';
	position: fixed;
	z-index: -1;
	left: 16.666666666666664%;
	top: 0;
	bottom: 0;
	width: 1px;
	background-color: #7eacb1;
}
.nav-icon,
.nav-text {
	display: block;
}
.nav-icon {
	margin: 5px auto 5px;
	width: 32px;
	height: 32px;
	background-color: #eee;
}
.nav-text {
	font-size: 12px;
	color: #555;
}
.active .nav-text {
	font-weight: bold;
}
.disabled a {
	opacity: 0.5;
}
.main-nav .divider {
	margin: 5px 40px 5px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #edf3f4;
}
.active a {
	background-color: #f8fbfb;
}
.nav>li>a:hover,
.nav>li>a:focus {
	background-color: #edf3f4;
}

.nav-icon 			{ background:url("../img/nav-icon.png") top left no-repeat; }
.nav-icon-client 	{ background-position:0    0;   }
.nav-icon-import 	{ background-position:0  -32px; }
.nav-icon-export 	{ background-position:0  -64px; }
.nav-icon-history 	{ background-position:0  -96px; }
.nav-icon-help 		{ background-position:0 -128px; }


@media (max-width:767px) {
	.main-nav {
		border-bottom: 1px solid #edf3f4;
	}
	.main-nav .nav {
		display: table;
		width: 100%;
	}
	.main-nav .nav > li {
		display: table-cell;
		width: 20%;
	}
	.main-nav .nav > .divider {
		width: 0;
		border-width: 0 1px 0 0;
	}
	.main-nav:after {
		content: none;
	}
}

/* main menu end */

/* main content */
.main-content-wrapper {
	margin-left: -14px;
	margin-right: -15px;
	padding: 20px 30px;
}
.page-title-group {
	margin: 20px 0 40px;
}
.page-breadcrumbs {
	font-size: 12px;
}
.page-title {
	margin: 0;
	font-size: 24px;
	font-weight: normal;
}
.main-content-wrapper .fullwidth {
	margin-left: -30px;
	margin-right: -30px;
	padding: 15px 30px;
}
.bg-panel {
	background-color: #edf3f4;
	margin-top: 20px;
	margin-bottom: 20px;
}
/* main content end */


/* form layout override */

.control-label.visible-xs {
	margin-top: 20px;
}
.required {
	color: #f00;
}
/* form layout override end */


/* temporary */
.grid-view-temp {
	background: #eee;
	padding: 80px;
	text-align: center;
	color: #aaa;
}
/* temporary end */