::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* typography */
p {
    margin-top: 0;
}

p + p {
    margin-top: 1em;
}

p:last-child {
    margin-bottom: 0;
}
/* typography end */

body {
	font-family: Tahoma;
}
.container-fullwidth {
	margin: 0 auto;
  	width: 100%;
}
.page-body {
	margin-left: 0;
	margin-right: 0;
}
.page-header {
	margin: 0;
	padding: 20px;
	text-shadow: 0 1px 1px #FFF;
	background-color: #aadbe7;
	border-color: #7eacb1;
}

/* logo */
.app-logo {
	display: inline-block;
}
.app-name {
	display: block;
	font-size: 32px;
	color: #000;
	text-decoration: none;
}
.app-name:hover {
	color: #000;
	text-decoration: none;
}
.app-version {
	font-size: 12px;
}
/* logo end */

/* div table */
.layout-table {
	display: table;
}
.layout-table .layout-row {
	display: table-row;
}
.layout-table .layout-cell {
	display: table-cell;
}
/* div table end */

/* user panel */
.user-panel-label,
.user-panel-value {
	padding-right: 1em;
}
.user-panel {
	margin-top: 10px;
	margin-bottom: 10px;
}
.user-panel .layout-table {
	margin: 0 0 0 auto;
}
@media (max-width: 767px) {
	.user-panel {
		margin-top: 20px;
	}
	.user-panel .layout-table {
		margin: 0;
	}
}
/* user panel end */

/* main menu */

.nav-icon,
.nav-text {
	display: block;
}
.nav-icon {
	margin: auto;
	width: 32px;
	height: 32px;
	background-color: #eee;
	overflow: hidden;
	color: transparent;
}
.nav-text {
	font-size: 12px;
	color: #555;
}
.nav-icon 			{ background:url("../img/nav-icon.png") top left no-repeat; }
.nav-icon-client 	{ background-position:0    0;   }
.nav-icon-import 	{ background-position:0  -32px; }
.nav-icon-export 	{ background-position:0  -64px; }
.nav-icon-history 	{ background-position:0  -96px; }
.nav-icon-help 		{ background-position:0 -128px; }

.nav-aside {
	padding-right: 0;
}
.nav-aside a {
	display: block;
	width: 36px;
	margin: 0 0 0 auto;
	text-decoration: none;
}


/* main menu end */

/* main content */
.main-content-wrapper {
	padding: 20px 35px;
}
.page-title-group {
	padding: 20px 0;
	margin: 0 0 20px;
	border-bottom: 1px solid #DDDDDD;
}
.page-breadcrumbs {
	font-size: 12px;
}
.page-title {
	margin: 0;
	font-size: 24px;
	line-height: 32px;
	font-weight: normal;
}
.page-title small {
	padding-right: 30px;
}
.main-content-wrapper .fullwidth {
	margin-left: -20px;
	margin-right: -20px;
	padding: 15px 20px;
}
.bg-panel {
	background-color: #edf3f4;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}
.client-info {
	margin: 20px 0px;
}
.select-client {
	padding-left: 0;
}
.select-client label {
	padding-right: 30px;
}
.client-info-results {
	padding: 20px 0;
}
.account-details-table th {
	width: 300px;
}
/* main content end */


/* form layout override */

.control-label.visible-xs {
	margin-top: 20px;
}
.required {
	color: #f00;
}
[data-toggle="collapse"]:not(.collapsed) .txt-collapsed {
	display: none;
}
[data-toggle="collapse"].collapsed .txt-expanded {
	display: none;
}
.select-client .input-group {
	display: inline-table;
	width: 1%;
}
.select-client .input-group .form-control {
	width: 300px;
}
.ui-menu-item:hover {
    background:#edf3f4;
    margin: 0 -10px;
    padding-left:10px;
    padding-right:10px;
}
.ui-menu-item a {
    display:block;
    padding-top:3px;
    padding-bottom:3px;
    text-decoration:none;
}
/* form layout override end */


/* in button spinner */
.spinner {
	display: none;
	-webkit-animation: spinner 1s linear infinite;
	        animation: spinner 1s linear infinite;
}
.in-progress .spinner {
	display: block;
}
.select-client .caret {
	margin-left: 2px;
	margin-right: 2px;
}
.select-client .in-progress .caret {
	display: none;
}

@-webkit-keyframes spinner {
	from { 
        -webkit-transform: rotate(0deg); 
                transform: rotate(0deg);
	 }
	to { 
        -webkit-transform: rotate(359deg); 
                transform: rotate(359deg);
	 }
}


@keyframes spinner {
	from { 
        -webkit-transform: rotate(0deg); 
                transform: rotate(0deg);
	 }
	to { 
        -webkit-transform: rotate(359deg); 
                transform: rotate(359deg);
	 }
}
/* in button spinner end */

/* app log and progress bar */
.app-busy {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: rgba(255,255,255,0.9);
}
.app-busy .progress {
	margin-bottom: 0;
}
.progress-header {
	padding: 20px 2em;
	height: 73px;
}
.progress-header *:first-child {
	margin: 0;
}
.progress-message-area {
	position: absolute;
	top: 90px;
	bottom: 100px;
	left: 0;
	right: 0;
	margin: 0 2em;
	padding: 20px 2em;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	white-space: pre;
	overflow: auto;
	border: 1px solid #DDD;
	background: #FFF;
}
.progress-actions {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	padding: 20px 2em;
}
/* app log and progress bar end */


/* spinner inside inputs */
.field-busy {
	background-image: url(data:image/gif;base64,R0lGODlhEAALAPQAAP///0KLyuPt9tvp9O/0+UaNy0KLymSf06LF5Im23cvf8Fua0His2ajJ5oy43s7h8F6c0USMynuu2ezz+eHs9vb5+2uk1eTu9/X4+8jd77jT6tfm8/L2+gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

/* temporary */
.grid-view-temp {
	background: #eee;
	padding: 80px;
	text-align: center;
	color: #aaa;
}
/* temporary end */